.box {
  border: 1px solid green;
  box-sizing: border-box;
  display: inline-block;
  width: 25px;
  height: 25px;
}

#container {
  width: auto; 
  height: auto; 
  overflow: hidden; 
}

#container > div {
  height: 25px;
}

#refreshButton, #usersButton {
  margin-bottom: 10px; 
}
